@charset "utf-8";

div {
    font-size: 1.3em;
    background-color: rgba(199, 21, 134, 0.753);
}
 

@media screen and (max-width: 992px) {
    div {
        font-size: 1.5em;
        background-color:moccasin;
    }   
} 

@media screen and (max-width: 600px) {
    div {
        font-size: 1.3em;
        background-color:paleturquoise;
    }
}   


